#html-section {
  width: 100%;
  height: 100%;
}

body{
  font-family: vardana sans-serif;
  margin: 0;
}
/* smalldevice */
@media (min-width: 0) and (max-width:1024px) {
html {
  width: 100%;
  height: 100%;

}


  /*header*/
  .small-header{
    padding: 10px;
    margin-bottom: 5px;
  }

.small-header ul {
  margin-top: 70px;

}

  .small-header p {
    color: #0f0;
    font-size: 24px;
    font-weight: normal;
    text-shadow: 5px 10px 3px #CC6600;
    font-style: italic;
  }

  .image-bg{
    background-image: url(../img/step.jpg);
    background-size: 100%;
    height: 100%;
    opacity: 0.9;
  }

/* nav */
  .small-nav {
    width: 100%;
    list-style: none;
    z-index: 70;
    position: fixed;
    margin-top: 5px;
  }
  .navSec li {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 3px;
  }
  .navSec li.active{
    background-color:rgba(255, 255, 0, 0.7);

  }
  .navSec a {
    width: 50px;
    text-decoration: none;
  }


  .current{
    border-bottom: 2px solid #FF0000;
  }

  /*bio*/
#section3{
  background-image: url(../img/naisou.jpg);
  background-size: 100%;
  opacity: 0.9;
  width: 100%;
  height: 100%;



}
  .small-bio{
    text-align: center;

    color: #0f0;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .bio h1 {
    font-weight: bolder;
    font-size: 36px;
    padding: 10px;
    text-shadow: 2px 1px 2px #333;
  }

  .bio p {
    font-size: 12px;
    padding-bottom: 4px;
    color: purple;
    text-shadow: 0 0 2px #000;
  }




  /*works*/
  #section2 {
    background-image: url(../img/woody.jpg);
    background-size: 100%;

  }
  .small-works {
    width: 800px;
    margin: auto;
    padding: 0 15px 2px;
    background: rgba(255, 0, 0, 0.5);
    z-index: 50;

  }

  .works h1{
    color: #FFFFFF;
    text-align: center;
    opacity: 1;
  }

  .work h1 {
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
  }

  .work p {
    color: #FFFFFF;

  }

  .work .desc{
    width: 360px;
  }

  .work:nth-of-type(odd) .desc {
    float: right;
    padding-left:  20px;
    background: #skyblue;
    border-left: 5px;
    border-style: solid;
    border-radius: 5px;

  }

  .work:nth-of-type(even) .desc{
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    background: #pink;
    border-right: 5px;
    border-style: solid;
    border-radius: 5px;
    margin-right: 5px;
  }

  .work:not(:last-child){
    margin-bottom: 60px;
  }

  .work{
    overflow: hidden;
  }

  /*contact*/

  .contact {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;


    color: rgba(0, 0, 0, 0.7);
    background-image: url(../img/home-2.jpg);
    background-size: 100%;
    opacity: 0.9;
  }

  .contact ul {
    margin-top: 100px;
    list-style-type: none;
    font-size: 18px;
    font-weight: normal;
  }

  .contact a:hover {

  }




  /*footer*/


  footer{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 70;
    float: right;
    text-align: center;

    margin-top: 940px;
  }

  footer ul{
    margin:0
    display:inline-block;
    list-style:none;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
  }
  footer P {
    color: #333;
  }
  footer li {
    background: lightgreen;
    border-radius: 4px;

  }
  footer li:hover {
    background: pink;
    border-radius: 4px;
    opacity: 1;
  }





}






/* mid-device */


/* largedevice */
@media (min-width: 1024px) {
  /*header*/
  header{
    
  }

  header h1  {
    color: #FFCC00;
    font-size: 48px;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 12px;
    text-shadow: 5px 10px 3px #CC6600;
    font-style: italic;
  }

  header p  {
    color: #FFCC00;
    font-size: 36px;
    margin-top: 8px;
    text-align: left;
    text-shadow: 1px 2px 1px #CC6600;
  }





  .navSec {
    width: 100%;
    list-style: none;
    z-index: 70;
    position: fixed;
    margin-top: 5px;
  }
  .navSec li {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 3px;
  }
  .navSec li.active{
    background-color:rgba(255, 255, 0, 0.7);

  }
  .navSec a {
    width: 50px;
    text-decoration: none;
  }
  .image-bg{
    background-image: url(../img/step.jpg);
    background-size: cover;
    height: 100%;
    opacity: 0.9;
  }


  .current{
    border-bottom: 2px solid #FF0000; */
  }

  /*bio*/
  .bio{
    text-align: center;
    background-color: #0f0;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    background-image: url(../img/naisou.jpg);
    background-size: 100%;
    opacity: 0.9;
  }

  .bio h1 {
    font-weight: bolder;
    font-size: 36px;
    padding: 10px;
    text-shadow: 2px 1px 2px #333;
  }

  .bio p {
    font-size: 12px;
    padding-bottom: 4px;
    color: yellow;
    text-shadow: 0 0 2px #000;
  }




  /*works*/
  #section2 {
    background-image: url(../img/woody.jpg);
    background-size: 100%;

  }
  .works {
    width: 820px;
    margin: auto;
    padding: 0 15px 2px;
    background: rgba(255, 0, 0, 0.5);
    z-index: 50;

  }

  .works h1{
    color: #FFFFFF;
    text-align: center;
  }

  .work h1 {
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
  }

  .work p {
    color: #FFFFFF;

  }

  .work .desc{
    width: 360px;
  }

  .work:nth-of-type(odd) .desc {
    float: right;
    padding-left:  20px;
    background: #skyblue;
    border-left: 5px;
    border-style: solid;
    border-radius: 5px;

  }

  .work:nth-of-type(even) .desc{
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    background: #pink;
    border-right: 5px;
    border-style: solid;
    border-radius: 5px;
    margin-right: 5px;
  }

  .work:not(:last-child){
    margin-bottom: 60px;
  }

  .work{
    overflow: hidden;
  }

  /*contact*/

  .contact {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;


    color: rgba(0, 0, 0, 0.7);
    background-image: url(../img/home-2.jpg);
    background-size: 100%;
    opacity: 0.9;
  }

  .contact ul {
    margin-top: 100px;
    list-style-type: none;
    font-size: 18px;
    font-weight: normal;
  }

  .contact a:hover {

  }




  /*footer*/


  footer{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 70;
    float: right;
    text-align: center;

    margin-top: 940px;
  }

  footer ul{
    margin:0
    display:inline-block;
    list-style:none;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
  }
  footer P {
    color: #333;
  }
  footer li {
    background: lightgreen;
    border-radius: 4px;

  }
  footer li:hover {
    background: pink;
    border-radius: 4px;
    opacity: 1;
  }


}
