body{
  color: #333;
  font-family: vardana sans-serif;
  margin: 0;
}

/*header*/
header{
  text-align: left;
  font-size: 36px;
  font-weight: normal;
  padding: 10px;
  height: 400px;
  margin-bottom: 5px;
}

header h1  {
  color: #FFCC00;
  font-size: 48px;
  margin-bottom: 12px;
  text-shadow: 5px 10px 3px #CC6600;
  font-style: italic;
}

header p  {
  color: #FFCC00;
  font-size: 36px;
  margin-top: 8px;
  text-align: left;
  text-shadow: 1px 2px 1px #CC6600;
}


.image-bg{
  background-image: url("../img/header.jpg");
  background-size: cover;
}

.container{

height: 80px;
 margin: 0 auto;
 padding:  0;
background: green;
text-align: center;
}

/* .section-title{
  text-align: center;
  font-weight:normal;
  font-size:24px;
  margin-bottom: 60px;
  margin-top: 0;
}

.section-title::after{
  content: attr(data-subtitle);
  display: block;
  font-size:16px;
  color: #aaa;
  padding-top: 10px;
} */


.btn ul{
  margin:0
  list-style:none;
  padding; 0;
display: inline-block;
}

.btn li{
  display: inline-block;
  padding: 4px 8px;
  font-size: 30px;
  border: 1px solid #dedede;
  border-radius: 4px;
  text-shadow: 2px 3px 2px #CC6600;
  cursor: pointer;
}

.btn li > a{
  text-decoration: none;
  color: orange;
}

.btn li > a:hover {
  color: #FF99FF;
}
/* .current{
  border-bottom: 2px solid #FF0000; */
}
/*welcome*/
.welcome {
background-color: #000000;
}

.welcome h1{
  font-size: 36px;
  font-weight: bold;
  color: #FFFFCC;
}

.welcome p {
  font-size: 24px;
  color: #FFFFCC;
}

/*bio*/
.bio{
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
 margin: auto;
}

.bio h1 {
  font-weight: bolder;
  font-size: 24px;
  padding: 10px;
  text-shadow: 2px 1px 2px #FFFFCC;
}

.bio p {
  font-size: 12px;
  padding-bottom: 4px;
}


/* introduction*/
.introduction {
  text-align: center;
  background-color: #99FFFF;
}

.introduction h1 {
  font-weight: normal;
  margin-bottom: 8px;

}

.introduction p {
  margin-top: 0
  font-size:14px;
}


/*works*/
.works {
width: 820px;
margin: auto;
padding: 0 15px 2px;
background-color: #000000;


}

.works h1{
  color: #FFFFFF;
  text-align: center;
}

.work h1 {
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
}

.work p {
  color: #FFFFFF;

}

.work .desc{
  width: 360px;
}

.work:nth-of-type(odd) .desc {
  float: right;
  padding-left:  20px;
  background: #skyblue;
   border-left: 5px;
  border-style: solid;
  border-radius: 5px;

}

.work:nth-of-type(even) .desc{
  float: left;
  padding-right: 20px;
 padding-left: 20px;
   background: #pink;
   border-right: 5px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 5px;
}

.work:not(:last-child){
  margin-bottom: 60px;
}

.work{
  overflow: hidden;
}

/*contact*/

.contact {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
  height: 260px;
  margin-bottom: auto;
  background-color: #000000;
  color: #FFFFFF;
}

.contact ul {
  list-style-type: none;
  }

.contact li > a:hover {
  opacity: 0.7;
}


/*roulette*/
.roulette {
  background: #000000;
  /* display:inline-flex;
  flex-wrap: wrap; */
}

.roulette marquee {

  font-size: 26px;
  font-weight: normal;
  color: #FFFFFF;
}

.box {

  display: inline-flex;
  flex-wrap: wrap;
}


/*footer*/
.footer {
height: 100px;
background: #pink;
margin-top: 5px;
padding-bottom: 10px;
margin-bottom: 0px;
background-color:#999966;

}
 footer{
  width: 400px;
  margin:0 auto 60px;
  padding-top: 20px;

}

footer ul{
  margin:0
  display:list-item;
  list-style:none;
  padding-left: 0;
  float: left;
}

footer li{
  display: inline-block;

}


footer li > a:hover {
  opacity: 0.6;
}

footer p{
  color: #000033;
  font-size: 14px;
  text-align: right;
}
